<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
     <testsuite name="Verify">
      <directory>tests</directory>
     </testsuite>
    </testsuites>
    <php>
        <const name="PROXY_USER" value="YOUR WONDERPROXY USERNAME HERE" />
        <const name="PROXY_PASS" value="YOUR WONDERPROXY PASSWORD HERE" />
    </php>
</phpunit>
